* {
    margin: 0;
    padding: 0;
}

.navbar {
    border: 0 solid black;
    width: 100vw;
    height: 50px;
    background-color: dodgerblue;
}

.LogoDiv {
    width: 50px;
    height: 20px;
    border: 1px solid black;
}
.Logo {
    max-width: 10vw;
    height: auto;
    padding-left: 10px;
}

